<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V9</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../Content/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../Content/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../Content/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../Content/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../Content/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../Content/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../Content/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../content/css/util.css">
	<link rel="stylesheet" type="text/css" href="../../content/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	
	<div class="container-login100" style="background-image: url('images/bg-01.png');">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
			<form class="login100-form validate-form">
				<span class="login100-form-title p-b-37">
					Entrar
				</span>

				<div class="wrap-input100 validate-input m-b-20" data-validate="Entrar com nome de usúario ou email">
					<input class="input100" type="text" name="username" placeholder="Nome de usúario ou email">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-25" data-validate = "Entrar com senha">
					<input class="input100" type="password" name="pass" placeholder="Senha">
					<span class="focus-input100"></span>
				</div>

				<div class="container-login100-form-btn m-b-20">
					<button class="login100-form-btn">
						Entrar
					</button>
				</div>


				<div class="text-center m-b-20">
					<a href="#sign_up" class="txt2 hov1">
						Inscreva-se
					</a>
				</div>
			</form>

			
		</div>
	</div>
	
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="../../content/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../../content/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../../content/vendor/bootstrap/js/popper.js"></script>
	<script src="../../content/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../../content/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../../content/vendor/daterangepicker/moment.min.js"></script>
	<script src="../../content/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../../content/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../../content/js/main.js"></script>

</body>
</html>